// button extra small
.btn-group-xs > .btn,
.btn-xs {
    // padding: 0.09rem 0.18rem;
    padding: 0;
    // font-size: 0.875rem;
    line-height: 0.5;
    border-radius: 0.2rem;
}

.vertical-center {
    min-height: 94%;
    min-height: 94vh;

    display: flex;
    align-items: center;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.2);
}

.link a {
    text-decoration: none;
    color: $main;
}

.link-dark a {
    text-decoration: none;
    color: $main-dark;
}

.profile-pic {
    max-height: 15rem;
}

.custom-border {
    border-style: solid;
    border-width: 2px;
    border-color: lighten($color: $main, $amount: 20%);
}

.custom-border-dark {
    border-style: solid;
    border-width: 2px;
    border-color: lighten($color: $main-dark, $amount: 20%);
}

// User Registration Form
.divider-text {
    position: relative;
}

.divider-text span {
    font-size: 0.75rem;
    position: relative;
    z-index: 2;
}

.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.fa-icon {
    min-width: 1rem;
}

// DropDown
.dropdown-text:hover {
    background-color: $hover;
    color: $main !important;
}

.dropdown-text-dark:hover {
    background-color: $hover-dark;
    color: $main-dark !important;
}

// Shopping Cart
.show-cart-count {
    background-color: transparent;
    border: none;
    width: 2.5rem;
    border-bottom: 2px solid #ddd;
    transition: linear all 0.1s;
    text-align: center;

    &:hover {
        border-bottom: 2px solid #888;
    }

    &:focus {
        outline: none;
        border: none;
        border-bottom: 2px solid #333;
    }
}
