* {
    font-style: bold;
    font-family: 'Open Sans', sans-serif;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 4000s ease-in-out 0s;
}

a {
    text-decoration: none !important;
}

input[type="checkbox"] {
    opacity: 0.5;
}

input[type="checkbox"]:checked {
    opacity: 1;
}

.vertical-center {
    display: grid;
    place-items: center;
}

// .clogo {
//     font-family: "MuseoModerno";
// }

    transition: background-color 4000s ease-in-out 0s;
}

a {
    text-decoration: none !important;
}

input[type="checkbox"] {
    opacity: 0.5;
}

input[type="checkbox"]:checked {
    opacity: 1;
.ccard {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.12);
    border-radius: 0.65rem;
}

.ccard__input {
    flex: 2;
    border: none;
    outline: none;
    //background: transparent;
    background: #87CEFA;
    border-bottom: 2px solid $main;
}

.ccard__input-prepend {
    padding: 0.05rem 0.5rem 0.2rem 0.5rem;
    margin-right: 0.37rem;
    border-radius: 0.45rem;
    border: 2px solid $main;
}

.members__header {
    color: #3f51b5;
}

.btn__none {
    padding: 5px;
    border: none;
    background: none;
    text-decoration: none !important;

    &:focus {
        outline: none;
    }
}
